* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-family: "Montserrat Light", sans-serif;
  font-size: 16px;
  color: $color-text;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-title;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}