.counters {
  background: rgba(33, 27, 25, 1);
  background: -moz-linear-gradient(left, rgba(33, 27, 25, 1) 0%, rgba(78, 52, 39, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33, 27, 25, 1)), color-stop(100%, rgba(78, 52, 39, 1)));
  background: -webkit-linear-gradient(left, rgba(33, 27, 25, 1) 0%, rgba(78, 52, 39, 1) 100%);
  background: -o-linear-gradient(left, rgba(33, 27, 25, 1) 0%, rgba(78, 52, 39, 1) 100%);
  background: -ms-linear-gradient(left, rgba(33, 27, 25, 1) 0%, rgba(78, 52, 39, 1) 100%);
  background: linear-gradient(to right, rgba(33, 27, 25, 1) 0%, rgba(78, 52, 39, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#211b19', endColorstr='#4e3427', GradientType=1);

}