@font-face {
  font-family: 'Wilmina';
  src: url(../../fonts/wilmina/wilmina.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  src: url(../../fonts/open-sans/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans Light';
  src: url(../../fonts/open-sans/OpenSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans Bold', sans-serif;
  src: url(../../fonts/open-sans/OpenSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans BoldItalic', sans-serif;
  src: url(../../fonts/open-sans/OpenSans-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans Italic', sans-serif;
  src: url(../../fonts/open-sans/OpenSans-Italic.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans CondBold', sans-serif;
  src: url(../../fonts/open-sans-condensed/OpenSans-CondBold.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans CondLight', sans-serif;
  src: url(../../fonts/open-sans-condensed/OpenSans-CondLight.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans CondLightItalic', sans-serif;
  src: url(../../fonts/open-sans-condensed/OpenSans-CondLightItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans CondLightItalic', sans-serif;
  src: url(../../fonts/open-sans-condensed/OpenSans-CondLightItalic.ttf) format("truetype");
}