.services {

  @media screen and(min-width: 1200px){
    margin-bottom: 90px;
  }

  &__icon {
    vertical-align: bottom;
    width: 53px;
    height: 53px;
    margin: 30px;
  }

  &__col {
    height: 240px;
    padding: 10px;

    &:hover .services__separator {
      border-top-color: $color-gold;
    }
    &:hover .services__title {
      color: $color-gold;
    }
  }

  &__title {
    margin-bottom: 18px;
    font-family: "Raleway SemiBold", sans-serif;
    font-size: 22px;
  }

  &__text {
    font-size: 14px;
  }

  &__separator {
    width: 70px;
    border-top: 3px solid #f1eee9;
    margin: 27px auto 0;
  }
}