.discover {
  background-color: $light;
  padding-top: 10px;

  &__topTitle, &__title,
  &__text {
    color: $fontDark;
  }

  &__topTitle {
    display: block;
    margin: 30px auto 20px;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
  }

  &__blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 10px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: stretch;
      margin: 10px;
      padding-bottom: 0;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #eaeaea;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(207, 207, 207, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(207, 207, 207, 1);
    box-shadow: 0px 0px 15px 0px rgba(207, 207, 207, 1);

    &:hover {
      border: 1px solid #d6d6d6;
    }

    @media screen and (min-width: 768px) {
      width: 47%;
      margin: 10px;
    }

    @media screen and (min-width: 960px) {
      width: 48%;
    }
  }

  &__title {
    font-size: 30px;
    margin: 20px;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
  }

  &__text {
    padding: 0 20px 20px;
  }

  &__wrapperImg {
    width: 100%;
    max-height: 340px;
    padding: 10px 0 20px;
  }

  &__img {
    max-height: 340px;
    width: 100%;
    -webkit-transition: all 2.5s ease-out;
    transition: all 2.5s ease-out;
  }
}
