.purchase {
  background: url("img/bg_purchase.jpg") no-repeat 50% 0;
  -webkit-background-size: cover;
  background-size: cover;
  border-top: 1px solid $borderInput;
  margin: 20px auto 0;

  @media screen and (max-width: 960px) {
    background-position-x: 44%;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 0;
  }

  &__wrapper {
    padding-top: 100px;
    margin: 0 auto;
    max-width: 1400px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 960px) {
      justify-content: center;
    }
  }

  &__blockLeft {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    flex-shrink: 5;

    @media screen and (max-width: 1200px) {
      flex-shrink: 1;
    }

    @media screen and (max-width: 960px) {
      width: 100%;
    }
  }

  &__content {
    width: 386px;
    margin-bottom: 35px;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);

    @media screen and (max-width: 1200px) {
      width: 290px;
    }

    @media screen and (max-width: 960px) {
      width: auto;
    }
  }

  &__title {
    width: 90%;
    margin: 0;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    color: $light;
  }

  &__text {
    margin-top: 22px;
    font-size: 16px;
    color: $light;
  }

  &__form {
    width: 670px;
    margin-right: 20px;
    flex-shrink: 0;

    @media screen and (max-width: 1200px) {
      flex-shrink: 1;
      width: 600px;
    }

    @media screen and (max-width: 960px) {
      width: 100%;
      margin-left: 20px;
    }
  }

  &__input {
    width: 100%;
    padding: 11px 20px;
    margin-bottom: 20px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    @include border-radius(3px);
    font-family: "Open Sans Light", sans-serif;
    font-size: 14px;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }

    &__comments {
      height: 104px;
    }
  }

  &__block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;

    &__input {
      width: 49%;
      padding: 11px 20px;
      margin-bottom: 20px;
      border: 1px solid $borderInput;
      @include border-radius(3px);
      font-family: "Open Sans Light", sans-serif;
      font-size: 14px;

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      @media screen and (max-width: 320px) {
        flex-wrap: nowrap;
      }
    }
  }

  &__btn-block {
    margin: 20px 0 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (max-width: 320px) {
      justify-content: center;
    }
  }

  &__contact__btn {
    padding: 14px 36px;
  }

  &__link {
    @media screen and (max-width: 320px) {
      margin: 18px 15px 0;
    }
  }
}



