$widthSliderItem: calc(100vw - 100px);

.testimonials {
  position: relative;
  padding: 35px 0;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 100;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("img/bgTestimonials.jpg") no-repeat 50% 10% fixed;
    -webkit-background-size: cover;
    background-size: cover;
  }

  &__wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 768px) {
      width: 750px;
    }

    @media screen and (min-width: 960px) {
      width: 970px;
    }

    @media screen and (min-width: 1200px) {
      width: 1150px;
    }
  }
}

.slider {
  position: relative;
  z-index: 10;

  &__item {
    padding: 10px 40px;
  }

  &__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid $light;
  }

  &__text {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0 25px;
  }

  &__person-name {
    font-weight: bolder;
    text-transform: uppercase;
    color: #F5A153;
    padding: 5px 0 2px;
  }

  &__person-title {
    padding: 2px;
  }
}