$light: #fff;
$fontDark: #444c50;
$shadowGrey: rgba(207, 207, 207, 1);

$fontGrey: #a1a1a8;
$bgLight: #f4f5f9;
$borderInput: #dcdfe6;
$borderHeader: #e7e9ee;

$shadowDark: rgba(239, 239, 239, 1);
$shadowDarkest: rgb(225, 225, 225);
$borderSeparator: #ececec;

