$light: #fff;
$fontDark: #444c50;
$shadowGrey: rgba(207, 207, 207, 1);




$fontGrey: #a1a1a8;
$bgLight: #f4f5f9;
$borderInput: #dcdfe6;
$borderHeader: #e7e9ee;



$shadowDark: rgba(239, 239, 239, 1);
$shadowDarkest: rgb(225, 225, 225);
$borderSeparator: #ececec;
$paramsbg:  45deg, rgb(61, 102, 218) 0%, rgb(66, 118, 218) 26%, rgb(87, 131, 252) 65%, rgb(133, 166, 252) 100%;
