* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Raleway", sans-serif;
  text-align: center; }

li {
  list-style: none; }

a {
  text-decoration: none; }

p {
  font-family: "Montserrat Light", sans-serif;
  font-size: 16px;
  color: #8c8c8c; }

h1, h2, h3, h4, h5, h6 {
  color: #555555; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@font-face {
  font-family: 'Wilmina';
  src: url(../../fonts/wilmina/wilmina.ttf) format("truetype"); }

@font-face {
  font-family: 'Open Sans';
  src: url(../../fonts/open-sans/OpenSans-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Open Sans Light';
  src: url(../../fonts/open-sans/OpenSans-Light.ttf) format("truetype"); }

@font-face {
  font-family: 'Open Sans Bold', sans-serif;
  src: url(../../fonts/open-sans/OpenSans-Bold.ttf) format("truetype"); }

@font-face {
  font-family: 'Open Sans BoldItalic', sans-serif;
  src: url(../../fonts/open-sans/OpenSans-BoldItalic.ttf) format("truetype"); }

@font-face {
  font-family: 'Open Sans Italic', sans-serif;
  src: url(../../fonts/open-sans/OpenSans-Italic.ttf) format("truetype"); }

@font-face {
  font-family: 'Open Sans CondBold', sans-serif;
  src: url(../../fonts/open-sans-condensed/OpenSans-CondBold.ttf) format("truetype"); }

@font-face {
  font-family: 'Open Sans CondLight', sans-serif;
  src: url(../../fonts/open-sans-condensed/OpenSans-CondLight.ttf) format("truetype"); }

@font-face {
  font-family: 'Open Sans CondLightItalic', sans-serif;
  src: url(../../fonts/open-sans-condensed/OpenSans-CondLightItalic.ttf) format("truetype"); }

@font-face {
  font-family: 'Open Sans CondLightItalic', sans-serif;
  src: url(../../fonts/open-sans-condensed/OpenSans-CondLightItalic.ttf) format("truetype"); }

.main-container {
  max-width: 1230px;
  margin: 0 auto; }

.btn-primary {
  display: inline-block;
  color: white;
  font-family: "Raleway ExtraBold", sans-serif;
  background-color: #998675;
  border-color: transparent;
  -webkit-box-shadow: 0 3px #736357;
          box-shadow: 0 3px #736357; }

.btn-primary.focus, .btn-primary:focus, .btn-primary:active, .btn-primary:hover, .btn-primary:visited {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent; }

.btn-primary:hover {
  background-color: #b09989;
  -webkit-box-shadow: 0 3px #736357;
          box-shadow: 0 3px #736357; }

.slider {
  position: relative;
  max-width: 1920px;
  height: 100vh;
  max-height: 1024px;
  margin: 0 auto; }

.slider .row {
  margin: 0; }

.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12 {
  padding: 0; }

.carousel-img-box {
  background-color: #000;
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: relative; }

.carousel-img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  opacity: 0.3; }

.carousel-indicators li {
  width: 11px;
  height: 11px;
  margin: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer; }

.carousel-indicators .active {
  width: 15px;
  height: 15px;
  top: -2px;
  background-color: transparent;
  border: 2px solid #d3c1ad;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.carousel-caption {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.carousel-line, .carousel-headline, .carousel-text {
  color: #ffffff; }

.carousel-line {
  font-weight: 500;
  font-size: 36px; }

.carousel-headline {
  font-weight: 800;
  font-size: 52px; }

.carousel-text {
  max-width: 570px;
  margin: 0 auto 50px; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: url(../img/arrow.svg);
  width: 40px;
  height: 73px; }

.carousel-control-prev-icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.header {
  position: absolute;
  top: 27px;
  left: 0;
  width: 100%; }

.container-fluid {
  max-width: 1230px; }

.navbar {
  width: 100%; }

.navbar-light .navbar-toggler-icon {
  background-image: url(../img/hamburger.svg);
  width: 25px;
  height: 25px; }

@media (min-width: 768px) {
  .navbar-expand-lg .navbar-collapse {
    display: none; } }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important; } }

.logo {
  vertical-align: bottom;
  width: 50px; }
  @media screen and (min-width: 768px) {
    .logo {
      width: auto; } }

.navbar-light .navbar-brand {
  font-size: 24px;
  color: #fff; }
  .navbar-light .navbar-brand:hover {
    color: #fff; }
  @media screen and (min-width: 768px) {
    .navbar-light .navbar-brand {
      font-size: 34px; } }

.navbar-light .navbar-toggler {
  border: none; }
  .navbar-light .navbar-toggler:focus {
    outline: none; }

.nav-link {
  font-family: "Montserrat Light", sans-serif;
  font-size: 14px;
  color: #fff; }

.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #c7b299; }

@media (min-width: 576px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.9rem;
    padding-left: 0.9rem; } }

.btns {
  display: none; }

@media screen and (min-width: 960px) {
  .btns {
    display: inline-block;
    border: 0;
    width: 32px;
    height: 24px;
    margin: 0 10px;
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out; }
    .btns:hover {
      opacity: 0.7; } }
  @media screen and (min-width: 960px) and (min-width: 1200px) {
    .btns {
      margin: 0 14px; } }

@media screen and (min-width: 960px) {
  .btn-shop {
    width: 26px;
    margin-left: 20px;
    background-image: url(../img/cart.png);
    background-repeat: no-repeat; } }
  @media screen and (min-width: 960px) and (min-width: 1200px) {
    .btn-shop {
      margin-left: 60px; } }

@media screen and (min-width: 960px) {
  .btn-search {
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    -webkit-background-size: 24px 24px;
            background-size: 24px 24px; } }

.collapse {
  display: none; }
  .collapse.show {
    display: block; }

@media screen and (min-width: 1200px) {
  .services {
    margin-bottom: 90px; } }

.services__icon {
  vertical-align: bottom;
  width: 53px;
  height: 53px;
  margin: 30px; }

.services__col {
  height: 240px;
  padding: 10px; }
  .services__col:hover .services__separator {
    border-top-color: #c7b299; }
  .services__col:hover .services__title {
    color: #c7b299; }

.services__title {
  margin-bottom: 18px;
  font-family: "Raleway SemiBold", sans-serif;
  font-size: 22px; }

.services__text {
  font-size: 14px; }

.services__separator {
  width: 70px;
  border-top: 3px solid #f1eee9;
  margin: 27px auto 0; }

.waxom-is {
  background-color: #fbfaf8;
  padding-top: 20px; }
  @media screen and (min-width: 1200px) {
    .waxom-is {
      padding-top: 80px; } }
  .waxom-is .col {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto; }
    @media screen and (min-width: 768px) {
      .waxom-is .col {
        -webkit-flex-basis: 0;
            -ms-flex-preferred-size: 0;
                flex-basis: 0; } }
  .waxom-is__title {
    margin-top: 20px;
    font-family: "Raleway SemiBold", sans-serif;
    font-size: 30px; }
  .waxom-is__text {
    display: inline-block;
    max-width: 770px;
    margin-top: 12px; }
  .waxom-is__browsers {
    position: relative; }
    @media screen and (min-width: 768px) {
      .waxom-is__browsers {
        margin-top: 62px; } }
    @media screen and (min-width: 960px) {
      .waxom-is__browsers {
        margin-top: 74px; } }
    @media screen and (min-width: 1200px) {
      .waxom-is__browsers {
        margin-top: 86px; } }
  @media screen and (min-width: 768px) {
    .waxom-is__box-img {
      position: absolute;
      bottom: 0;
      left: 0; }
      .waxom-is__box-img .waxom-is__img {
        width: 50%; } }
  .waxom-is__img {
    width: 100%; }

.wordpress {
  background: #211b19;
  background: -webkit-gradient(left top, right top, color-stop(0%, #211b19), color-stop(100%, #4e3427));
  background: -webkit-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211b19', endColorstr='#4e3427', GradientType=1 ); }
  .wordpress__title {
    font-size: 28px; }
  .wordpress__waxom {
    color: #c7b299; }
