@font-face {
  font-family: "Roboto", sans-serif;
  src: url(../../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Thin", sans-serif;
  src: url(../../fonts/Roboto/Roboto-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Bold", sans-serif;
  src: url(../../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}